<div id="sideNav" class="sidenav">
  <button class="closebtn btn" (click)="closeNav()">&times;</button>
  <button class="btn" (click)="openBoards()" *ngIf="boards.length>1" >Switch boards</button>

  <div *ngIf="showProjectBoards" [@fadeAnimation]="boards.length">
    <ng-container *ngFor="let board of boards">
    <a   [routerLink]="['/project', this.projectId, board._id]" *ngIf="currentBoardId!==board._id">{{ board.name }}</a>
    </ng-container>
  </div>


  <button class="btn" (click)="openParticipants()"*ngIf="users.length>1" >Colleagues</button>

  <div *ngIf="showParticipants" [@fadeAnimation]="users.length">
  <ng-container *ngFor="let user of users">
    <a (click)="openUser(user)"  *ngIf="this.authService.getLoggedInUsername()!==user"> {{ user }} </a>
    </ng-container>
  </div>

  <button class="btn" (click)="goBacktoProfile()">My Profile</button>
</div>

<button (click)="openNav()" class="navbar-toggler">
  <span class="navbar-toggler-icon"></span>
</button>
