
    <div class = "jumbotron bg-img bg-dark text-dark">
          <div class="row justify-content-center align-items-center ">
            <h1>Sign up</h1>
          </div>
          <hr/>
          <div class="row justify-content-center align-items-center">
            <div class="p-2 col col-sm-6 col-md-6 col-lg-4 col-xl-3 bg-dark card">
                <form [formGroup]="regForm"  (ngSubmit)="submitForm()">
                  <div class="form-group">
                    <label class="text-light mt-3"  for="userName">Full name:</label>
                    <input type="username" class="form-control" id="userName" placeholder="Enter your full name" formControlName="name">
                    <p class="text-danger"  *ngIf="name.errors?.required">Full name is required</p>
                  </div>
                    <div class="form-group">
                      <label class="text-light" for="userEmail">Email address</label>
                      <input type="email" class="form-control" id="userEmail" aria-describedby="emailHelp" placeholder="Enter email" formControlName="email">
                      <p  class="text-danger" *ngIf="email.errors?.email">Email is not in the right format</p>
                      <p class="text-danger"  *ngIf="email.errors?.required">Email is required</p>
                    </div>
                    <div class="form-group">
                      <label class="text-light"  for="userUsername">Username</label>
                      <input type="username" class="form-control" id="userUsername" placeholder="Enter username" formControlName="username">
                      <p class="text-danger"  *ngIf="username.errors?.required">Username is required</p>
                    </div>



                    <div class="form-group">
                      <label class="text-light"  for="userPassword">Password</label>





                      <div class="input-group">
                      <input
                      [type]=" fieldTextType ? 'text' : 'password'" class="form-control" id="userPassword" placeholder="Enter password" formControlName="password">
                      <div class="input-group-append">
                          <span class="input-group-text">
                              <i
                              class="fa"
                              [ngClass]="{
                                'bi bi-eye-slash': !fieldTextType,
                                'bi bi-eye': fieldTextType
                              }"
                              (click)="toggleFieldTextType()"></i>
                          </span>
                       </div>
                    </div>


                      <p class="text-danger"  *ngIf="password.errors?.required">Password is required</p>
                      <p class="text-danger"  *ngIf="password.errors?.pattern || password.errors?.minlength">Password must have at least 6 characters including one number and one letter</p>

                    </div>
                    <div class="form-group">
                        <label class="text-light"  for="userConfPassword">Confirm password</label>
                        <div class="input-group">
                          <input [type]=" fieldTextType ? 'text' : 'password'" class="form-control" id="userConfPassword" placeholder="Enter password" formControlName="confirm">
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i
                                class="fa"
                                [ngClass]="{
                                  'bi bi-eye-slash': !fieldTextType,
                                  'bi bi-eye': fieldTextType
                                }"
                                (click)="toggleFieldTextType()"></i>
                            </span>
                         </div>
                        </div>
                        <p class="text-danger"  *ngIf="confirm.errors?.required">You have to confirm your password</p>




                  <div class="container">
                      <div class="row">
                          <div class="col text-center">


                            <button type="submit" class="btn mt-3 text-light btn-lg col-sm-8 btn-info"  [disabled]="!regForm.valid">Submit</button>
                        </div>
                      </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col text-center">

                                <nav>
                                <a [routerLink] = "['/login']" class="text-light" routerLinkActive="active">Already have an account? Log in here!</a>
                              </nav>
                              </div>
                        </div>
                      </div>
                    </div>
              </form>
            </div>
          </div>
        </div>
