<div class="card text-white bg-light mb-3" id="checklist">
  <input id= "closeChecklist" type="image" src="../../assets/x-close.png" class="bg-secondary"
         alt="Close" width="15" height="15"
         (click)="onCloseChecklist()"/>
  <div class="card-header text-center text-secondary">Add checklist</div>
  <div class="card-body" id="addChecklist">
    <div class="form-group">
      <label class="text-secondary">Title</label>
      <input type="text" class="text-secondary"
             class="form-control"
             [(ngModel)]="title"
             (keydown.enter)="onSendTitle()"
             #checklistTitle>
    </div>

    <button class="btn btn-success" style="width: 5.5rem;"
            (click)="onSendTitle()">Add</button>
  </div>
</div>

