<div class="card text-white bg-light mb-3" id="cover">
  <input id= "closeCover" type="image" src="../../assets/x-close.png" class="bg-secondary"
         alt="Close" width="15" height="15"
         (click)="onCloseCover()"/>
  <div class="card-header text-center text-secondary">Cover</div>
  <div class="card-body" id="coversList">
    <h6 class="card-title text-secondary text-left">COLORS</h6>
    <div class="row ml-1">
        <div *ngFor="let color of coverColors; index as i">
            <button type="button" class="btn btn-secondary ml-1 mb-2"
                    style="background-image:url('../../assets/{{color}}.jpg');"
                    (click)="onCoverChosen(i)">
                    <img *ngIf="coverFound(color)"
                         src="../../assets/tick.png" width=13 height=13
                         style="margin-bottom:0.5rem;">
             </button>
        </div>
    </div>
    <button type="button" class="btn btn-outline-dark" style="margin-left: 5rem; margin-top: 1rem;"
            (click)="onRemoveCover()">
            Remove cover
    </button>
  </div>
</div>
