<nav class="site navbar navbar-dark bg-img">
  <ul>
    <li><a [routerLink]="['/']">Home</a></li>
    <li><button class="btn" (click)="triggerModal(modalData)">Add new board</button></li>
    <li><button class="btn" (click)="deleteBoard()">Delete this board</button></li>
  </ul>

  <ng-template #modalData let-modal>
    <div class="modal-header bg-dark">
      <h4 class="modal-title text-light" id="modal-basic-title">New Board</h4>
      <button type="button" class="close"
       (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body bg-dark">
      <form [formGroup]="modalForm">
        <div class="form-group">
          <label class="text-light">Insert board name:</label>
          <input formControlName="boardName" class="form-control" placeholder="Enter board name" [ngClass]="checkForInput()">
          <div class="invalid-feedback">
            Please type board name.
          </div>
        </div>
        <button type="submit" class="btn btn-info" (click)="modal.close(modalForm.value)" [disabled]="!modalForm.valid">Finish</button>
      </form>
    </div>

  </ng-template>


  <app-side-bar [currentBoardId]="currentBoardId" [projectId]="projectId"></app-side-bar>
</nav>
