#labels{
  position: sticky;
  width: 20rem;
  height: 23rem;
  left: 0rem;
  top: 0rem;
  z-index: 1;
}

#closeLabels{
  margin-left: 18.5rem;
}

.btn {
  width: 16rem;
  height: 2rem;
  border-radius: 2rem;
  border: none;
}
