<div class="card text-white bg-light mb-3" id="labels">
    <input id= "closeLabels" type="image" src="../../assets/x-close.png" class="bg-secondary"
           alt="Close" width="15" height="15"
           (click)="onCloseLabels()"/>
    <div class="card-header text-center text-secondary">
         Labels
    </div>
    <div class="card-body" id="labelsList">
      <h6 class="card-title text-secondary text-left">LABELS</h6>
      <div *ngFor="let color of labelColors; index as i">
           <button type="button" class="btn btn-secondary ml-1 mb-2"
                   style="background-image:url('../../assets/{{color}}.jpg');"
                   (click)="onLabelChosen(i)">
                   <img *ngIf="labelFound(color)"
                        src="../../assets/tick.png" width=10 height=10
                        style="margin-left: 14rem; margin-bottom: 0.5rem;">
            </button>
      </div>
    </div>
  </div>
