<div class="card text-white bg-light mb-3" id="date">
  <input id= "closeDate" type="image" src="../../assets/x-close.png" class="bg-secondary"
         alt="Close" width="15" height="15"
         (click)="onCloseDate()"/>
  <div class="card-header text-center text-secondary">Date</div>
  <div class="card-body" id="addDate">
      <form class="form-inline">
          <div class="form-group">
            <div class="input-group">
            <input class="form-control" placeholder="dd/mm/yyyy"
                     name="datepicker" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn bg-secondary calendar" (click)="d.toggle()" type="button">
                  <img src="../../assets/calendar.png" alt="calendar" width="22rem" height="22rem" >
                </button>
              </div>
            </div>
          </div>
        </form>
        <div style="margin-top: 18rem; margin-left: 1rem; margin-bottom: 0.5rem">
            <button type="button" class="btn btn-success"
                    style="width: 15rem;" (click)="onSaveDate()">Save</button>
        </div>
        <div style="margin-top: 0.5rem; margin-left: 1rem; margin-bottom: 1.5rem">
            <button type="button" class="btn btn-outline-dark"
                    style="width: 15rem;" (click)="onRemoveDate()">Remove</button>
        </div>
  </div>
</div>

