#lists {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

#nameOfTheBoard {
  border: none;
  background: none;
}

.bg-img
{
    background-image: url('../../assets/pexels-cátia-matos-1072179.jpg');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
}
