<div class = "alert alert-primary" id="list">

  <form class="form-inline" onkeypress="return event.keyCode !== 13">
    <input class="display-5 text-dark" value="{{ listName }}" id="nameOfTheList" (blur)="changeListName($event)">
    <button type="button" class="btn" (click)="onDeleteList()">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
      </svg>
    </button>
  </form>
  <hr>

  <div cdkDropList [cdkDropListData]="this.tasks" class="form-group" (cdkDropListDropped)="updateDataAfterDrop($event)">

    <div class="drag-drop-area" cdkDrag *ngFor="let element of tasks">
      <div  class="card-style">
        <img *ngIf="element.cover !== 'none'" src="../../assets/{{element.cover}}.jpg" width="254" height="20" (click)="openCard(element._id)">
        <p (click)="openCard(element._id)">{{ element.title }}</p>
        <div class="row ml-2">
          <div>
      <h5 *ngIf="element.dueDate" id="date" [ngClass]="checkDate(element.completionStatus)">{{ element.dueDate | date:'LLL d'}}</h5>
          </div>
          <div  [ngClass]="dueDateExists(element.dueDate ? true : false)"></div>
      <div>
      <h6  (click)="deleteCard(element)" style="margin-top:0.4rem;">Delete</h6>
      </div>
        </div>
      </div>
    </div>
    <input type="text" id="task" class="form-control" placeholder="Enter new task" (keydown.enter)="addTaskToTheList($event)"/>
  </div>
</div>
