<div id="menu" class= "jumbotron-fluid">
  <div>
    <form class="form-inline p-3" [formGroup]="searchGroup">
      <input class="form-control w-75 ml-5" placeholder="Search" list="suggestions"
      (keyup)=onInputSearchText() [(ngModel)]="searchText" name="searchText" formControlName = "searchText">
    </form>
    <ul class="list-group list-group-flush ml-5 mr-5 mb-3" *ngIf="searchText">
      <li class="list-group-item  list-group-item-secondary text-lg text-secondary" *ngFor="let sugg of suggestions">
        <p>{{sugg}}</p>
      </li>
    </ul>


  <dd class="card">

    <div class="card-header" id="headingProjects">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseProjects" aria-expanded="false"
        aria-controls="collapseProjects" (click) = "onCollapse('projects')">
          Projects
        </button>
    </div>

    <div id="collapseProjects" [class]="showProjects()"  aria-labelledby="headingProjects" data-parent="#menu" *ngFor="let item of projects">

      <div>

          <dt class="col-sm-9">
            <h3 class="fw-bold">{{item.title}}</h3>
          </dt>

          <div class = 'row'>
              <dd  *ngFor="let user of item.team">
                  <button class='btn btn-link col-sm-12 ml-3' (click) ="onProfileChange(user)"><h5>{{user}} </h5> </button>
             </dd>
         </div>


       <div class = "row col-sm-12 ml-3">
            <p>{{item.description}}</p>
        </div>
          <dd class=" row col-sm-12 ml-3 ">
              <div *ngIf="(item.boards && item.boards.length > 0) && sameProfile">
                  <button class='btn btn-success' (click) = "showBoardsForProject(item)"  data-toggle="collapse" data-target="#collapseBoards"
                      aria-expanded="false" aria-controls="collapseBoards">Boards for this project</button>
                </div>

                <button class = "btn bg-info col-sm-2 mb-3 ml-3 text-light"  *ngIf="sameProfile" (click)="triggerModal(modalData)">Edit project</button>
                <button type="submit" class="btn bg-danger col-sm-2 mb-3 ml-3 text-light" *ngIf="sameProfile" (click) = "onLeaveProject(item)">Leave project</button>
          </dd>

        <div class="col-sm-12">

            <ng-template #modalData let-modal>
              <div class="modal-header bg-dark">
                <h4 class="modal-title text-light" id="modal-basic-title">Edit project</h4>
                <button type="button" class="close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="modal-body bg-dark">
                <form [formGroup]="modalForm">
                    <label class="text-light">Change project name:</label>
                    <input class="form-control mb-2" formControlName="updatedName" >
                    <hr class="bg-secondary">
                    <label class="text-light">Change project description:</label>
                    <input class="form-control mb-2" formControlName="updatedDescription" [placeholder]="item.description ? item.description: '' ">
                    <hr class="bg-secondary">
                    <div>
                      <label class="mb-2 text-light mr-2">Update team members</label>
                      <button class="btn bg-secondary text-light"  (click)="onUpdateTeam()">Update team</button>
                    </div>

                    <div *ngIf = "changeTeam">
                      <ul class="list-group">
                        <li class="list-group-item bg-secondary text-light" *ngFor="let member of updateTeamList(item)">
                          <div class="form-check">
                            <input type="checkbox" class="form-check-input" [value]="member" (change)="onCheckboxChange($event)" unchecked>
                            <label class="form-check-label">{{member}}</label>
                          </div>
                        </li>
                      </ul>
                      <div>
                        <hr class="bg-secondary">
                        <label class="text-light">Add team members:</label>
                        <input class="form-control mb-2" placeholder="e.g. username1, username2, username3" formControlName="addedMembers">
                      </div>
                    </div>
                    <hr class="bg-secondary">
                  <button type="submit" class="btn btn-info" (click)="modal.close({updates: modalForm.value, item: item})" [disabled]="!modalForm.valid">Finish</button>
                </form>
              </div>

            </ng-template>
          </div>


      <div class="card">
              <div id="collapseBoards" [class]="showBoards(item.visibilityForBoards)"  aria-labelledby="headingBoards" data-parent="#menu" *ngFor="let board of item.boards">
                <form class="form-inline p-3 col-12">
                        <span><button class='btn btn-link ' (click) ="goToBoard(item,board)">{{board.name}}</button> </span>
                  <div class = "col-sm-9"></div>
                </form>
              </div>
            </div>
</div>
